/*VARIABLES*/
/*font-family: "Shrikhand", serif;*/
/*font-family: "Roboto", sans-serif;*/
/*MIXINS*/
@media (max-width: 768px) {
  /*GENERAL*/
  .main-container {
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  /*HEADER*/
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    font-family: "Shrikhand", serif;
    margin: 5px;
  }
  .recherche {
    width: 104%;
    height: 50px;
    background-color: #EAEAEA;
    filter: drop-shadow(0px 1px 4px);
  }
  .recherche-barre {
    width: 120px;
    font-size: 15px;
    border: none;
    background-color: #EAEAEA;
    margin-left: 15px;
  }
  .recherche-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*BODY*/
  /*SECTION INTRO*/
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    height: 266px;
    background-color: #FAFAFA;
    margin-left: -8px;
    margin-right: -8px;
  }
  .intro h2 {
    width: 60%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  .intro p {
    width: 75%;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .exploration {
    padding: 15px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    text-decoration: none;
    color: white;
    border-radius: 25px;
  }
  /*SECTION FONCTIONNEMENT*/
  .fonction {
    width: 100%;
    height: 330px;
  }
  .fonction h2 {
    margin-left: 20px;
    margin-top: 40px;
  }
  .fonction-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
  }
  .fonction-card {
    width: 80%;
    padding: 5px;
    background-color: #F6F6F6;
    border-radius: 20px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1490196078));
    display: flex;
    align-items: center;
  }
  .fonction-card p {
    margin-left: 20%;
    font-weight: 600;
  }
  .fonction-card i {
    margin-left: 10%;
    margin-right: -10%;
  }
  .fonction-card div {
    width: 12px;
    height: 12px;
    color: white;
    background-color: #9356DC;
    padding: 6px;
    font-size: 12px;
    border-radius: 50%;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*font awesome*/
  .fa-mobile-screen-button {
    color: #888686;
  }
  .fa-list {
    color: #888686;
  }
  .fa-store {
    color: #9356DC;
  }
  /*SECTION RESTAURANT*/
  .restaurant {
    height: 1220px;
    background-color: #FAFAFA;
    margin-left: -8px;
    margin-right: -8px;
  }
  .restaurant h2 {
    margin-left: 20px;
    padding-top: 50px;
  }
  .restaurant-all {
    row-gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .restaurant-card {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1490196078));
    background-color: white;
    position: relative;
  }
  .restaurant-card .nouveau {
    position: absolute;
    top: 15px;
    right: 18px;
    background-color: #99E2D0;
    color: #008766;
    padding: 8px 15px;
  }
  .restaurant-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .restaurant-card h3 {
    margin-left: 15px;
    margin-top: 10px;
  }
  .restaurant-card p {
    margin-left: 15px;
    margin-top: -15px;
  }
  .heart-container {
    position: absolute;
    right: 35px;
    bottom: 27px;
    font-size: 25px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    /*OPTION*/
    /**/
  }
  .heart-container .heart-checkbox {
    display: none;
  }
  .heart-container .fa-solid, .heart-container .fa-regular {
    position: absolute;
    transition: opacity 0.3s ease;
  }
  .heart-container .fa-solid {
    opacity: 0;
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .heart-container:hover .fa-regular {
    opacity: 0.7;
  }
  .heart-container .heart-checkbox:checked ~ .fa-solid {
    opacity: 1;
  }
  .heart-container .heart-checkbox:checked ~ .fa-regular {
    opacity: 0;
  }
  /*FOOTER*/
  footer {
    height: 100%;
    background-color: #353535;
    color: white;
    margin: -8px;
  }
  footer h3 {
    font-family: "Shrikhand", serif;
    font-weight: 500;
    margin: 0;
    padding: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer ul {
    padding-left: 25px;
    margin: 0;
    list-style-type: none;
    padding-bottom: 10px;
  }
  footer li {
    margin-bottom: 10px;
  }
  footer i {
    padding-right: 10px;
  }
  .hands {
    font-size: 12px;
  }
}
@media (min-width: 769px) {
  /*GENERAL*/
  .main-container {
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  /*HEADER*/
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    font-family: "Shrikhand", serif;
    margin: 5px;
  }
  .recherche {
    width: 104%;
    height: 50px;
    background-color: #EAEAEA;
  }
  .recherche-barre {
    width: 120px;
    font-size: 15px;
    border: none;
    background-color: #EAEAEA;
    margin-left: 15px;
  }
  .recherche-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*BODY*/
  /*SECTION INTRO*/
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    height: 266px;
    background-color: #FAFAFA;
    margin-left: -8px;
    margin-right: -8px;
  }
  .intro h2 {
    width: 60%;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
  }
  .intro p {
    width: 75%;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .exploration {
    padding: 15px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    text-decoration: none;
    color: white;
    border-radius: 25px;
  }
  /*SECTION FONCTIONNEMENT*/
  .fonction {
    margin: 30px 150px;
    width: 80%;
  }
  .fonction h2 {
    padding: 20px 0px;
  }
  .fonction-centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10px;
  }
  .fonction-card {
    width: 80%;
    padding: 5px;
    background-color: #F6F6F6;
    border-radius: 20px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1490196078));
    display: flex;
    align-items: center;
  }
  .fonction-card p {
    margin-left: 20%;
    font-weight: 600;
  }
  .fonction-card i {
    margin-left: 10%;
    margin-right: -10%;
  }
  .fonction-card div {
    width: 12px;
    height: 12px;
    color: white;
    background-color: #9356DC;
    padding: 6px;
    font-size: 12px;
    border-radius: 50%;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*font awesome*/
  .fa-mobile-screen-button {
    color: #888686;
  }
  .fa-list {
    color: #888686;
  }
  .fa-store {
    color: #9356DC;
  }
  /*SECTION RESTAURANT*/
  .restaurant {
    padding: 30px 150px;
    background-color: #FAFAFA;
    margin-left: -8px;
    margin-right: -8px;
  }
  .restaurant h2 {
    padding: 10px 0px;
  }
  .restaurant-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 80px;
  }
  .restaurant-card {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1490196078));
    background-color: white;
    position: relative;
  }
  .restaurant-card .nouveau {
    position: absolute;
    top: 15px;
    right: 18px;
    background-color: #99E2D0;
    color: #008766;
    padding: 8px 15px;
  }
  .restaurant-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .restaurant-card h3 {
    margin-left: 15px;
    margin-top: 10px;
  }
  .restaurant-card p {
    margin-left: 15px;
    margin-top: -15px;
  }
  .heart-container {
    position: absolute;
    right: 35px;
    bottom: 27px;
    font-size: 25px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    /*OPTION*/
    /**/
  }
  .heart-container .heart-checkbox {
    display: none;
  }
  .heart-container .fa-solid, .heart-container .fa-regular {
    position: absolute;
    transition: opacity 0.3s ease;
  }
  .heart-container .fa-solid {
    opacity: 0;
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .heart-container:hover .fa-regular {
    opacity: 0.7;
  }
  .heart-container .heart-checkbox:checked ~ .fa-solid {
    opacity: 1;
  }
  .heart-container .heart-checkbox:checked ~ .fa-regular {
    opacity: 0;
  }
  /*FOOTER*/
  footer {
    height: 100px;
    background-color: #353535;
    color: white;
    margin: -8px;
    display: flex;
    justify-content: flex-end;
    align-items: last baseline;
  }
  footer h3 {
    font-family: "Shrikhand", serif;
    font-weight: 500;
    margin: 30px 50px;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer ul {
    display: flex;
    padding-left: 25px;
    padding-top: 10px;
    margin: 0;
    list-style-type: none;
  }
  footer li {
    margin-bottom: 10px;
  }
  footer i {
    padding-right: 10px;
  }
  .fa-handshake-angle {
    font-size: 12px;
    margin-left: 10px;
  }
  .mentions {
    margin-left: 40px;
    padding-right: 10px;
  }
  .reverse-desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
